h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 1.7rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

a {
    font-size: 1.2rem;
}

small {
    font-size: 1rem;
}

li {
    font-size: 1.2rem;
}

.grid {
    gap: 0.2rem;
}

.grid-cell {
    flex: 1 1 50%;
    padding: 0 2rem 0;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills .column {
    flex: 1 1 25%;
    min-width: 200px;
}

.footer {
    padding: 1rem 0;
    margin-top: 2rem;
    text-align: left;
}

.footer p {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
}

.footer .grid {
    display: flex;
}

.footer .grid-cell {
    padding: 0 2rem;
    width: 100%;
}

#address {
    flex-shrink: 0;
}

#links {
    flex-shrink: 2.5;
}

#qrcode {
    flex-shrink: 8;
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr !important;
    }

    .grid-cell {
        padding: 0 5% 2rem;
    }

    .skills .column {
        flex: 1 1 100%;
    }

    .footer {
        padding: 60px 2vw 20px 2vw;
    }

    #address {
        flex-shrink: 0;
    }

    #links {
        flex-shrink: 0;
    }

    #qrcode {
        flex-shrink: 0;
    }
}