.project-section {
    margin-top: 120px;
    padding: 5rem 10% 6rem 10%;  
}

@media (max-width: 1400px) {
    .project-section {
        margin-top: 80px;
        padding: 3rem 5% 4rem 5%;  
    }
}

@media (max-width: 1000px) {
    .project-section {
        margin-top: 50px;
    }
}