.cv-section {
  margin-top: 120px;
  padding: 5rem 10% 6rem 10%;
  text-align: center;
}

.cv-btn {
  display: inline-block;
  padding: 18px 38px;
  background: #f9c846;
  color: #111;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cv-btn:hover {
  background-color: #e0b739;
}

.cv-download-link {
  color: #f9c846;
}

@media (max-width: 1400px) {
  .cv-section {
      margin-top: 80px;
      padding: 3rem 5% 4rem 5%;  
  }
}

@media (max-width: 1000px) {
  .cv-section {
      margin-top: 50px;
  }
}